@charset "UTF-8";
/* CSS Document */
*{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
}
#contenedor{
    border: 1px solid #000;
    margin-left:auto;
    margin-right:auto;
    width:900px;

    background-color:#597eaa;
  }
header {
    border: 1px solid #000;
    width:100%;
    background-color: #000;
  }
  #logos{
  margin-top: 7px;
  margin-left: 7px;
  margin-bottom: 7px;
}
  figure{
    display: inline-block;
    vertical-align: top;
  }
  figure img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
  }
  #social{
    float:right;
    margin-top: 3%;
    margin-right: 3%;
  }
  section{
    background-color:#597eaa;
      width: 60%;
      float: right;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  section h1{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  section h2{
    margin-left: 5px;
    margin-bottom: 5px;
  }
  section h3{
    margin-left: 20px;
    margin-bottom: 3px;
  }
  #principal{
    background-color: #FFF;
    border: 2px solid #c6c2b6;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
aside{

  }
  #asideprincipal{
    text-decoration: none;
    width: 36%;
    color: #c6c2b6;
    background-color: #FFF;
    border: 2px solid #c6c2b6;
    margin:20px 5px 5px 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  img {
    vertical-align: middle;
  }
  a:link {
    text-decoration:none;
}
footer{
  padding-top: 3%;
  display: inline-block;
  width:100%;
  background-color: #000;
  }
 footer img{
   margin-left: 2%;;
 }
#tabla{
 color: #FFF;
 overflow: hidden;
 width: 30em;
 position: absolute;
 margin-left: 250px;
 margin-top: 30px;
}
td{
 padding-left: 15px;
 padding-bottom: 15px;
}
form{
 margin-left: 1em;
 margin-top: 1em;
}
a:link {
 color: #080808;
}
footer a:link {
 color:  #FFF;
}
a:visited {
 color: #080808;
}
footer a:visited {
 color: #FFF;
}
a:hover {
   color: #c6c2b6;
}
footer a:hover {
   color: #c6c2b6;
}
  @media screen and (max-width:910px){

    #logos{
      padding-top: 20px;
    }
    aside{
        display: none;
      }
      section{
        width: 96%
      }
      #social{
        display:none;
      }
      #contenedor{

        float:left;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%
      }
      table{
        display: none;
      }
  }
